* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #03045e;
}

body {
    width: 100%;
    height: 100vh;
    background: rgb(0,173,255);
    background: linear-gradient(90deg, rgba(0,173,255,1) 0%, rgba(69,252,249,1) 100%);  
}

header, main, footer, section {
    padding: 25px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    width: 100%;
    justify-content: center;
}

fieldset {
    width: 280px;
    height: 480px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #03045e;
}

button {
    border: 0;
    background-color: #FFF;
    color: #03045e;
    font-size: 16px;
    width: 180px;
    height: 35px;
    border-radius: 20px;
}

button:hover {
    cursor: pointer;
    background-color: #c2def5;
}

input {
    height: 20px;
}

input, select, textarea {
    margin: 5px;
    padding: 4px;
    width: 230px;
    border-radius: 5px;
    border: none;
}

input:hover,
select:hover,
textarea:hover {
    background-color: #c2def5;
}

.menu {
    display: flex;
}

.menuLink {
    padding: 20px;
}

.menuLink a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    color: #03045e;
}

.firstSection {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
}

.firstSection img {
    height: 200px;
    padding-right: 20px;
}

.address, .social {
    margin-right: 30px;
}

.socialImg {
    display: flex;
}

.socialImg img {
    height: 40px;
    padding-right: 10px;
}

.socialImg img:hover {
    opacity: 0.6;
}

.aboutContent {
    display: flex;
}

.aboutContent img {
    height: 250px;
    padding: 10px;
}

.aboutContent img:hover {
    opacity: 0.8;
}